:root {
  --blanco: #ffffff;
  --negro: #000000;
  --cafe: #1e1a13;
  --delgada: 300;
  --media: 500;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
img {
  width: 100%;
}
.contenedor {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px 0;
}
/* HEADER */
.titulo {
  background-color: var(--negro);
  color: var(--blanco);
  text-align: center;
  font-size: 50px;
  font-weight: var(--media);
  padding: 10px 0;
  text-transform: uppercase;
}
.hero-img {
  height: 100%;
  background-color: var(--negro);
}
/* CONTENIDO MAIN */
main {
  background-color: var(--negro);
  width: 100%;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .main {
    justify-content: center;
  }
}
.main-texto {
  color: var(--blanco);
  font-size: 16px;
  font-weight: var(--delgada);
  width: 475px;
  line-height: 1.3;
}
.main-texto p:first-child {
  padding-bottom: 20px;
}
main .main-img {
  max-width: 400px;
}
/* SECCIÓN DE CARACTERÍSTICAS */
.carac-section {
  background-color: var(--cafe);
  color: var(--blanco);
}
.carac-section h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: var(--media);
}
@media (max-width: 500px) {
  .carac-section h2 {
    font-size: 30px;
  }
}
.lista-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.item {
  text-align: center;
  min-width: 300px;
}
.item i {
  font-size: 40px;
}
.item h4 {
  font-weight: var(--delgada);
  font-size: 25px;
  margin-top: 25px;
}
/* SECCION GALERIA */
.galeria {
  background-color: var(--negro);
}
.lista-galeria {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .lista-galeria {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.lista-galeria img {
  max-width: 33%;
  min-width: 300px;
}
/* FOOTER */
.footer {
  background-color: var(--cafe);
  text-align: center;
  padding: 33px 0;
}
.footer p {
  font-weight: var(--delgada);
  color: var(--blanco);
}
.footer p a {
  text-decoration: none;
  color: var(--blanco);
}
