:root {
  --black: #707070;
  --white: #fff;
  --pink: #e83e8c;
  --info: #17a2b8;
}
body {
  font-family: "Open Sans", sans-serif;
}
.navbar {
  background-color: var(--pink);
}
main h1 {
  color: var(--black);
}
.section-pago {
  background-color: var(--info);
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
}
.medios-pago {
  font-size: 70px;
}
footer {
  background-color: var(--pink);
  text-align: center;
  width: 100%;
}
footer img {
  width: 50px;
}
