* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  border-radius: 5px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 40px;
}
/* NAV */
.oscuro {
  width: 100%;
  height: 90px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}
.oscuro ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.oscuro ul a {
  color: white;
}
/* HEADER */
header {
  width: 100%;
  height: 420px;
}
.hero-section {
  background-image: url(../img/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}
.hero-section h1 {
  max-width: 800px;
  text-align: end;
  font-size: 45px;
}
.subtitulo {
  font-size: 30px;
  font-weight: 400;
}
.hero-section h1,
.hero-section h2 {
  margin-right: 200px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
}
/* UBICACION */
#ubicacion {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#ubicacion h2 {
  font-size: 45px;
}
#ubicacion p {
  font-size: 25px;
  max-width: 800px;
  text-align: center;
}
/* PROXIMA CHARLA */
.sweet-brown {
  background-color: #a4452c;
  height: 500px;
}
.centrado {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}
.charla-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  color: white;
}
.charla-texto h4 {
  font-size: 33px;
  font-weight: 400;
}
.charla-texto h5 {
  font-size: 20px;
  font-weight: 400;
}
.charla-texto p {
  font-size: 25px;
  font-weight: 400;
}
/* EVENTOS */
#eventos {
  height: 770px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.card-evento {
  display: flex;
  gap: 80px;
}
.evento h3 {
  text-align: center;
  font-size: 27px;
  margin-top: 30px;
}
/* CONTACTO */
.footer {
  width: 100%;
  height: 280px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.redes a {
  color: white;
  padding: 10px;
}

/* SIMPOSIO */
.simposio {
  max-width: 1085px;
  margin: 0 auto;
  padding: 100px 0;
}
.simposio h2 {
  padding: 50px 0;
}
.simposio img {
  width: 100%;
}
.simposio p {
  font-size: 25px;
  padding: 20px 0;
  line-height: 1.5;
}
